body {
  background-color: #202124;
  color: #bdc1c6;
}
header {
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}

.right img {
  width: 20px;
}

.right img:hover {
  cursor: pointer;

  text-decoration: none;
}

.right button {
  background-color: #8ab4f8;
  color: #202124;
  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.right button:hover {
  cursor: pointer;
}

navLogo {
  margin-top: 120px;
  display: inline-block;
  box-shadow: none;
}

navLogo img {
  width: 300px;
}

main {
  text-align: center;
}

searchBar input {
  border-radius: 16px;
  width: 50%;
  height: 34px;
  border-color: grey;
  border-width: 1.5px;
  background-color: #202124;
  color: #e8eaed;
  box-shadow: none;
  text-decoration: none;
}

input:hover {
  background-color: #34353a;
  color: #e8eaed;
  cursor: text;
}

.inputButtons {
  margin-top: 10px;
}

.inputButtons button {
  border-radius: 4px;
  width: 100px;
  height: 30px;
  border-color: grey;
  border-width: 0px;
}

svg {
  width: 30px;
}
